<div class="col-md-4">
  <div class="list-group" style="margin:0;">
    <% ::User::SETTINGS.each do |setting| %>
      <% class_spec = params[:action] == setting ? "list-group-item active" : "list-group-item" %>
      <%= link_to "#{setting}", class: "#{class_spec}" do %>
        <div class="pull-right"><i class="fa fa-chevron-right"></i></div>
        <%= setting.capitalize %>
      <% end %>
    <% end %>
  </div>
</div>
