/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

body{
  font: 400 1em/1.8 Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  position: relative;
  background: #eee;
  min-height: 100%;
}

.panel-heading {
  border-bottom: 1px solid #eee;
}

.comment-avatar {
  float: left;
}
.comment-content {
  margin-left: 60px;
  font-size: 1.6em;
  .comment-heading {
    margin-bottom: 10px;
    color: #999999;
    font-size: 0.8em;
  }
}
.panel-footer {
  overflow: hidden;
  background-color: white;
  .pull-right {
    height: 31px;
    .pagination {
      margin: 0;
    }
  }
}

.group-item {
  border: none;
  border-bottom: 1px solid #eee;
  margin-bottom: 0;
  padding: 15px;
}
