// Place all the styles related to the class_videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.yc-video-title {
    margin-top: 40px;
    color: #6e757d;
}
.video_area {
    width: 100%;
    margin: 0 auto;
}
.my-video-dimensions {
    width: 100%;
    height: 580px;
}
