// Place all the styles related to the class_videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.yc-video-title {
    margin-top: 40px;
    color: #6e757d;
}
.video_area {
    width: 100%;
    margin: 0 auto;
}
.my-video-dimensions {
    width: 100%;
    height: 580px;
}
.list-group {
  .class-video {
    margin-bottom: 20px;
    box-shadow: 1px 1px 2px #c0c0c0;
    background-color: white;
    overflow: hidden;
    .video-img {
      float: left;
    }
    .class-info {
      padding: 18px;
      margin-left: 8px;
      overflow: hidden;
      zoom: 1;
      .class-title {
        color: #3498db;
        font-size: 2em;
        margin-bottom: 10px
      }
      .class-speakers {
        margin-bottom: 0;
        line-height: 1.3;
        font-size: 1.5em;
      }
      .counts {
        position: absolute;
        right: 50px;
        top: 60px;
        font-size: 2em;
        text-align: center;
        .play-count {
          color: #3498db;
          font-size: 18px;
        }
      }
      .subtitle {
        padding: 1px 0px;
        width: 90px;
        margin-top: 50px;
        background-color: #8a6ae4;
        color: #fff;
        font-size: 1.5em;
        border-radius: 3px;
        text-align: center;
      }
    } // class-info
  } // class-video
} // list-group
