// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topic {
  padding: 15px;
  border: none;
  border-bottom: 1px solid #eee;
  margin-bottom: 0;
  .topic-heading {
    font-size: 2.1em;
  }
  .topic-info {
    font-size: 1.5em;
  }
}
